/.metadata/
/Variaveis/target/
/variaveis/Variaveis/target/
/LeituraDados/target/
Opera Instantâneo_2023-06-13_174634_loiane.training.png
ExercicioOperadores/pom.xml
Variaveis/pom.xml
LeituraDados/pom.xml
/ExerciciosAula11a13/target/
/ExerciciosAulas11A13/target/
ExerciciosAulas11A13/pom.xml
ExerciciosRepeticao/pom.xml
/ExerciciosRepeticao/target/
Vetores/pom.xml
/Vetores/target/
Arrays/pom.xml
/Arrays/target/
