/.metadata/
/Variaveis/target/
/variaveis/Variaveis/target/
/LeituraDados/target/
Opera Instantâneo_2023-06-13_174634_loiane.training.png
ExercicioOperadores/pom.xml
Variaveis/pom.xml
LeituraDados/pom.xml
/ExerciciosAula11a13/target/
/ExerciciosAulas11A13/target/
ExerciciosAulas11A13/pom.xml
ExerciciosRepeticao/pom.xml
/ExerciciosRepeticao/target/
Vetores/pom.xml
/Vetores/target/
Arrays/pom.xml
/Arrays/target/
Matrizes/pom.xml
/Matrizes/target/
ClassesAtributos/pom.xml
/ClassesAtributos/target/
Arrays/.classpath
Arrays/.project
Arrays/.settings/org.eclipse.core.resources.prefs
Arrays/bin/.project
*.prefs
*.xml
*.MF
Matrizes/.classpath
Matrizes/.project
Variaveis/.classpath
LeituraDados/.project
Arrays/bin/target/classes/META-INF/maven/com.mycompany/Arrays/pom.properties
*.lst
ClassesAtributos/.classpath
ClassesAtributos/.project
Arrays/bin/src/main/java/com/mycompany/arrays/Arrays.class
ExercicioAula24/.classpath
ExercicioAula24/.project
ExercicioAula24/src/module-info.java
ExerciciosAulas11A13/.classpath
ExerciciosAulas11A13/.project
ExerciciosRepeticao/.classpath
ExerciciosRepeticao/.project
LeituraDados/.classpath
Variaveis/.project
Vetores/.classpath
Vetores/.project
ExerciciosAula24/.classpath
ExerciciosAula24/.project
ExerciciosAula24/src/module-info.java
ExerciciosAula24/bin/Livro/Livro.class
ExerciciosAula24/bin/module-info.class
ClassesMetodosSimples/.project
ClassesMetodosSimples/.classpath
ClassesMetodosSimples/bin/module-info.class
ClassesMetodosSimples/src/module-info.java
ClassesMetodosSimples/bin/ClassesMetodoSimples/Carro.class
ClassesMetodosSimples/bin/ClassesMetodoSimples/AtributosCarro.class
ClassesMetodosSimples/bin/ClassesMetodo/AtributosCarro.class
*.class
ClassesMetodos/.classpath
ClassesMetodos/.project
ExerciciosAulas25A27/.classpath
ExerciciosAulas25A27/.project
Construtores/.classpath
Construtores/.project
Aula30This/.classpath
Aula30This/.project
Encapsulamento/.classpath
Encapsulamento/.project
OverLoad/.classpath
OverLoad/.project
ExerciciosAula28A33/.classpath
ExerciciosAula28A33/.project
VariaveisMetodosEstaticos/.classpath
VariaveisMetodosEstaticos/.project
ExercicioAula34/.classpath
ExercicioAula34/.project
Recursividade/.classpath
Recursividade/.project
